#user {
    background-color: lightcoral;
    display: inline-block;
    margin: 0;
    text-align: center;

}

#post {
    background-color: lightskyblue;
      display: inline-block;
    margin: 0;
    text-align: center;
}



.avatar-utilisateur{
     height: 65px;
      width:65px;
}
.avatar-developpeur{
     height: 110px;
      width:  110px;
}

.panel-title{
    cursor: pointer;
}

ul.pager {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: none;
   
}


.pager li a {
    color: white;
    text-align: center;
  font-size: 1.3em;
    background-color: darkslategray;

}
.pager li a.active{
    background-color: teal;
}

.pager li a:hover {
    background-color: teal;
}
