.logoFooter img{
    margin-top: 10px;
    margin-left: 60px;
    margin-bottom: 10px;
    height:  75px;
    width: 75px
}
.footer{
    margin: 0px;
    background-color: darkslategray;
    color: gray;
    width:100%;
    bottom: 0;
}
.menuFooter{
    float: right;
    text-align: center; 
    list-style: none;
    list-style-position: outside;
    margin-right: 120px;
    margin-top: 20px;
}
.menuFooter li{
    width: 75px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.2em;
    float: left;
}
li.iconeFooter{
    width: 45px;
}
.menuFooter a{
    text-decoration: none;
    color: teal;
}
.menuFooter a:hover{
    color: white;
}

.footer_wrapper {  width:100%;  }
.footer_wrapper.fixed {position:fixed; bottom:0px;}