
.logo img{
      height: 110px;
       width: 368px;
}

.logo{
    float: left;
    margin-left: 30px;
    position: absolute;
    z-index: 1;
}

@media only screen and (max-width: 982px) {
    .logo {
        content: url("../Ressources/LogoFooter.png");
        height: 110px;
       width: 110px;
    }

}
@media only screen and (max-width: 768px) {
    .logo {
  display: none;
    }

}

/* navbar */
.navbar{
    border: none;
}
.navbar-default {
    background-color: darkslategray;
     margin-bottom: 60px;
     border: none;
}
.navbar .container-fluid {
    background-color: darkslategray;
    border: none;
    
}

.login{
    margin-right: 40px;
}

/* link */
.navbar-default .navbar-nav > li > a {
     font-size: 1.4em;
    color: white;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: white;
    background-color: teal;
      transition: .3s background-color;

}
.navbar-default .navbar-nav a.active_tab{
  background-color: #fff;
  color: darkslategray;
  cursor: default;
  box-shadow: none;

}

.social-media{
    background-color: teal;
}
.social-media a:hover{
    color: darkslategray;
}
.social-media li{
    width: 50px;
    background-color: teal;
}
